{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "cpp"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
